.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

button {
  padding: 10px;
  background: black;
  color: white;
  text-transform: uppercase;
  border-style: none;
  outline: none;
  cursor: pointer;
  position: relative;
  display: inline-block;
  margin: 10px auto;
  transition: all 0.4s ease-in;
}

span[class^='ion'] {
  position: relative;
}

button:before {
  content: "";
  background-color: aliceblue;
  /* border-radius: 50%; */
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: scale(0.001, 0.001);
}

button:focus {
  outline: 0;
  color: #fff;
}

button:focus:before {
  animation: ripple_effect 0.8s ease-out;
}

.effect7 {
  position:relative;
  box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.effect7:before, .effect7:after {
  content:"";
  position:absolute;
  z-index:-1;
  box-shadow:0 0 10px rgba(0,0,0,0.8);
  top:0;
  bottom:0;
  left:10px;
  right:10px;
  border-radius:100px / 10px;
}
.effect7:after {
  right:10px;
  left:auto;
  transform:skew(8deg) rotate(3deg);
}
.effect7:hover, .effect7:after:hover, .effect7:before:hover {
  box-shadow: none;
}










@keyframes ripple_effect {
  50% {
    transform: scale(1.75, 1.75);
    opacity: 0;
  }
  99% {
    transform: scale(0.001, 0.001);
    opacity: 0;
  }
  100% {
    transform: scale(0.001, 0.001);
    opacity: 1;
  }
}