.App {
  text-align: center;
  background: lightblue;
  margin: 10px;
  padding: 10px;
}

.main-container {
  margin: 10px;
  padding: 20px;
}

.main-container:nth-child(even) {
  background: rgba(0, 0, 0, 0.1);
}

.main-container:nth-child(odd) {
  background: rgba(0, 0, 0, 0.3);
}

li {
  list-style: none;
}
ul {
  margin: 0;
  padding: 0;
}

.flex {
  display: flex;
  justify-content: center;
}

.todo-items {
  width: 25%;
  margin: 5px 10px;
}

.tasks {
  position: relative;
  width: auto;
  height: 100px;
  margin-bottom: 10px;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.15);
  background: rgba(255, 255, 255, 0.2);
  text-align: center;
  line-height: 100px;
  color: white;
}

.hover {
  border: 1px dashed rgba(0, 0, 0, 0.6);
}

.clickable {
  cursor: pointer;
}

.exit-button:hover:before {
  content: 'x';
  color: white;
  /* display: inline-block; */
  position: absolute;
  top: 5px;
  left: 5px;
  margin-right: 5px;
  font-size: 9px;
  line-height: 15px;
  height: 15px;
  width: 15px;
  border-radius: 15px;
  text-align: center;
  background: gray;
}

button {
  padding: 10px;
  background: DarkCyan;
  color: white;
  text-transform: uppercase;
  border-style: none;
  outline: none;
  cursor: pointer;
  position: relative;
  display: inline-block;
  margin: 10px auto;
  transition: all 0.4s ease-in;
}

span[class^='ion'] {
  position: relative;
}

button:before {
  content: "";
  background-color: aliceblue;
  /* border-radius: 50%; */
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: scale(0.001, 0.001);
}

button:focus {
  outline: 0;
  color: #fff;
}

button:focus:before {
  animation: ripple_effect 0.8s ease-out;
}

.effect7 {
  position:relative;
  box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.effect7:before, .effect7:after {
  content:"";
  position:absolute;
  z-index:-1;
  box-shadow:0 0 10px rgba(0,0,0,0.8);
  top:0;
  bottom:0;
  left:10px;
  right:10px;
  border-radius:100px / 10px;
}
.effect7:after {
  right:10px;
  left:auto;
  transform:skew(8deg) rotate(3deg);
}
.effect7:hover, .effect7:after:hover, .effect7:before:hover {
  box-shadow: none;
}

.input-wrapper {
  display: inline-block;
}
input {
  border: none;
  outline: none;
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.5) inset;
  font-size: 18px;
  padding: 5px 0 5px 0;
  text-align: center;
  margin: 20px;
}


.flex-center {
  display: flex;
  justify-content: center;
}







@keyframes ripple_effect {
  50% {
    transform: scale(1.75, 1.75);
    opacity: 0;
  }
  99% {
    transform: scale(0.001, 0.001);
    opacity: 0;
  }
  100% {
    transform: scale(0.001, 0.001);
    opacity: 1;
  }
}